# Core scientific stack
pandas==2.2.2
numpy==1.26.4
scipy==1.13.1
matplotlib==3.8.4
seaborn==0.13.2
statsmodels==0.14.1

# Bioinformatics tools
biopython==1.83

# Machine learning & network inference
arboreto==0.1.6
dask==2024.4.1

# Network analysis
networkx==3.3

# Utility
tqdm==4.66.4
